@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
*{
	margin: 0;
	padding: 0;
	border:0;	
	list-style: none;
	box-sizing: 0;
	text-decoration:none;
	outline:none;
	
}
html{
	margin: 0;
	padding: 0;
	border:0;	
	list-style: none;
	box-sizing: 0;
	text-decoration:none;
	outline:none;
	
}

body{
	margin:0px;
	padding:0px;
	max-width:1400px;
	background-color: #000000;
}


	/* estyles header*/
	


	.nav__menu--item,
	.studies__item--place,
	.studies__item--time {
		list-style: none;
	}
	
	.nav {
		position: fixed;
		z-index: 5;
		width: 100%;
		padding: 25px 0;
		transition: all 0.3s ease;
		font-family: 'Acme', sans-serif;
	}
	
	.nav__content {
		max-width: 1250px;
		width: 100%;
		padding: 0px 30px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	
	.nav.sticky {
		padding: 10px 0;
		background: rgb(0, 0, 0, 0.8);
	}
	
	.nav__logo {
		height: 55px;
		filter: brightness(200%);
	}
	
	.nav__menu {
		display: inline-flex;
	}
	
	.nav__menu--link {
		color: #2AA9AF;
		font-size: 24px;
		font-weight: 500;
		margin-left: 25px;
		text-decoration: none;
		transition: all 0.3s ease;
		
	}
	
	.nav__menu--link:hover {
		color: #FFFFFF;
	}
	
	.menu__icon {
		color: #2AA9AF;
		font-size: 25px;
		cursor: pointer;
		display: none;
		
	}
	
	.menu__icon--close {
		position: absolute;
		right: 30px;
		top: 20px;
	}
	
	.sticky .menu__icon--close {
		top: 10px;
	}
	

	.blacklogo {
		grid-column: 2;
		grid-row: 2;
		margin: auto;
		width: 80px;
	}
	
	
	@media (max-width: 700px) {
		body.disabledScroll {
			overflow: hidden;
		}
		.menu__icon {
			display: block;
			height: 50px;
			width: 35px;
			text-align: left;
			line-height: 50px;
			border-radius: 50%;
			z-index: 9;
		}
		.menu__icon--close {
			display: none;
		}
		.menu__icon--close.show {
			display: block;
		}
		.menu__icon.hide {
			display: none;
		}
		.nav__menu {
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			background: #000000;
			display: block;
			padding: 40px 0;
			text-align: center;
			clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
			transition: all 0.3s ease;
		}
		.sticky .nav__menu {
			clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
		}
		.nav .nav__menu--active {
			clip-path: circle(75%);
		}
		.nav__menu--item {
			margin-top: 45px;
		}
		.nav__menu--link {
			font-size: 23px;
			margin-left: 0px;
		}
	}
   


h1{
	font-family: 'Acme', sans-serif;
	text-align: center;
	font-size: 40px;
	text-shadow: 1px 2px 2px #000000;
	color: #2AA9AF;
}

form{

	background-color: rgb(255, 255, 255 , 0.8);
	 max-width: 400px;
	 box-shadow: 4px 4px 5px #2AA9AF;
	 padding: 30px;
	 margin: 20px auto;	 
	
 }

#formu label{
    width:40%;
    display: inline-block;
    margin-bottom: 5px;
}

form input[type=text], input[type=number], input[type=password], input[type=email],select,textarea{
    width: 100%;
    vertical-align: middle;
    padding: 5px;
    font-size: 16px;
    margin: 8px 0; 
    resize: none;
	background-color: transparent;
	border-bottom: #000000 1px solid;
	
}

 input[type=text]:focus, input[type=number]:focus, input[type=email]:focus,input[type=password]:focus,select:focus,textarea:focus{
box-shadow: 2px 2px 2px #2AA9AF;
outline-style:  none;
background-color: transparent;
	border-bottom: #000000 1px solid;

}

 input[type=submit]{
    width: 80px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid #2AA9AF;
    color: #000000;
    font-weight: bold;
	font-family: 'Rajdhani', sans-serif;

}

 input[type=submit]:hover{
    background: linear-gradient(#0a0a0c,#000000);
    box-shadow: 0 0 20px #000000;
    color: #FFFFFF;
}

 input[type=reset]{
    width: 140px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 3px solid pink;
    color: #000000;
    font-weight: bold;
}

 input[type=reset]:hover{
    
    background: linear-gradient(#0a0a0c,#000000);
    color: #FFFFFF;
}


.feedback{
    max-width: 100%;
    width: 100%;
    background-color:rgba(255,255,255,0,5);
    padding: 5px;
    color: #000000;
    font-size: 10px;
    visibility: hidden;
    opacity: 0;

}

.success{
    border: 1px solid #2AA9AF;
}
 
.error{
    border: 1px solid red;
}


.inicio{
	
	display: flex;
	min-height: 400px;
	height: 100%;
	justify-content: space-evenly;
	align-items: center;
	background-color: #000000;
	padding-bottom:  100px;
	padding-top: 160px;
	font-family: 'Rajdhani', sans-serif;

}
p i{
	color: #2AA9AF;

}

.contacto{
	display: flex;
	flex-direction: column;
	background-color: #000000;
	padding: 40px 20px;
	font-family: 'Rajdhani', sans-serif;
	
}
.contacto h1{
	color: #2AA9AF;
	margin-bottom: 20px;
}
.sobre_mi1{
	background-color: #000000;
	min-height: 400px;
	height: 100%;
	align-items: center;
	line-height: 25px;
	padding: 10px 10px;
	font-family: 'Rajdhani', sans-serif;
	
}

.sobre_mi{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	line-height: 25px;

	padding: 20px 10px;
	margin-top: 20px;
}
	
#parrafo{
	text-align: justify;
}	


.sobre_mi p{
	color: #FFFFFF;
	
}
.sobre_mi h3{
	color: #FFFFFF;
}

.datos{
	max-width: 350px;
	text-align: center;
	padding: 20px 30px;
	
}
#foto{
	max-width: 180px;
	border-radius: 50%;
	margin-bottom: 20px;
	border: #2AA9AF solid 3px;
	
}

.formacion{
	max-width: 350px;
	margin-top: 30px;
	margin-left: 40px;
}


.proyectos{
	display: flex;
	flex-direction: column;
	background-color: #000000;
	padding: 20px 0px;
}

.proyectos h1{
	margin-top: 0px;
	margin-bottom: 30px;
}

.d-block{
	margin: auto;
	/*border: #2AA9AF 3px solid;*/
	padding-bottom: 190px;
	width: 80%;	
	

}


.carousel-caption {
	background-color: #000000;
	margin-bottom: -20px;
	font-family: 'Rajdhani', sans-serif;
	border: 2px solid #2AA9AF;
	padding: 10px 10px;
	
}


.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 1.25rem;
    left: 15%;
    margin-bottom: 1rem;
    padding-bottom: 3rem; 
    color: #fff;
    text-align: center;
}
.carousel-caption a:hover{
	color: #2AA9AF;
}

.circle{
height: 30px;
width: 30px;
position: absolute;
top: 10%;
left: 10%;
animation: 4s linear infinite;
}


.circle:nth-child(1){
	top: 20%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.circle:nth-child(2){
	top: 60%;
	left: 85%;
	animation:animate 10s linear infinite;
}
.circle:nth-child(3){
	top: 30%;
	left: 40%;
	animation:animate 5s linear infinite;
}
.circle:nth-child(4){
	top: 80%;
	left: 40%;
	animation: animate 7s linear infinite;
}
.circle:nth-child(5){
	top: 90%;
	left: 10%;
	animation: animate 9s linear infinite;
}
.circle:nth-child(6){
	top: 30%;
	left: 85%;
	animation: animate 5s linear infinite;
}
.circle:nth-child(7){
	top: 75%;
	left: 20%;
	animation: animate 8s linear infinite;
}
.circle:nth-child(8){
	top: 75%;
	left: 60%;
	animation: animate 10s linear infinite;
}
.circle:nth-child(9){
	top: 50%;
	left: 50%;
	animation: animate 6s linear infinite;
}
.circle:nth-child(10){
	top: 15%;
	left: 10%;
	animation: animate 10s linear infinite;
}
.circle:nth-child(11){
	top: 10%;
	left: 90%;
	animation:  animate 9s linear infinite;
}
.circle:nth-child(12){
	top: 20%;
	left: 70%;
	animation: animate 7s linear infinite;
}
.circle:nth-child(13){
	top: 20%;
	left: 20%;
	animation: animate  8s linear infinite;
}
.circle:nth-child(14){
	top: 60%;
	left: 5%;
	animation: animate 6s linear infinite;
}
.circle:nth-child(15){
	top: 90%;
	left: 90%;
	animation: animate 8s linear infinite;
}
@keyframes animate{
	0%{
		transform: scale(0) translatey(0) rotate(70deg);
	}
}
 


.presentacion{
	text-align: center;
	max-width: 400px;
	width: 100%;
	
}
.presentacion h1{
	line-height: 60px;
	font-family: 'Acme', sans-serif;
	color: #2AA9AF;

	
}

.foto:hover{
	transform:scale(1.2);
    -ms-transform:scale(1.2);
	
}
.foto{
	transition: 4s;
	 transform:scale(1);
     -ms-transform:scale(1);
	 max-width: 250px;
	 width: 100%;
	
}	

footer{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px;
    border: #2AA9AF solid 1px;
    margin-top: none;
    font-size: 12px;
	font-family: 'Rajdhani', sans-serif;
}

@media only screen and (max-width: 1440px) {
	.navar
	{max-width:95%;
	}
	}
	
	@media only screen and (max-width: 980px) {


	
	
	
	}
	input[type=checkbox] {
		position: absolute;
		 top: -9999px; 
		 left: -9999px; 
		 background:none;
	}
	
	input[type=checkbox]:fous{
		background:none;
	}
	 .toggle-menu {
		  float: right;
		  padding:8px 0px;
		  display:inline-block; 
		  cursor:pointer;
		  background-image: url(images/menu1.png); 
	}
	
	input[type=checkbox]:checked ~ nav {
		display:block;
	}
	

	
	

@media only screen and (max-width: 700px) {
	.inicio{

		display: flex;
		flex-direction: column;
	}


	.presentacion h1{
		
		line-height: 50px;
		margin: 30px;
	}

	 .sobre_mi{
		display: flex;	
		flex-direction: column;
		
	}
	.carousel-caption .d-md-block h5, p, a{
		font-size: 12px;

	}
	.carousel-caption {
		background-color: #000000;
		margin-bottom: -20px;
		font-family: 'Rajdhani', sans-serif;
		border: 2px solid #2AA9AF;
		
		
	}
	.carousel-caption p{
		font-size: 12px;
	}
	footer{
		font-size: 10px;
	}
	div .carousel-indicators{
		margin-bottom: -20px;
	}
	p{
		font-size: 16px;
	}

	
	}
   

	



@media only screen and (max-width: 568px) {
	.presentacion h1{
		
		line-height: 40px;
	}
	
	.inicio{

		display: flex;
		flex-direction: column;
		padding: 30px;
		padding-top: 100px;
	
	}
	.foto{
		transition: 3s;
		 transform:scale(1);
		 -ms-transform:scale(1);
		 max-width: 150px;
		 width: 100%;
		
		 
	}	
	



}


@media only screen and (max-width: 360px) {
h1{
	font-size:20px;
}
label{
	padding:5px 0px;
}

}

@media only screen and (max-width: 320px) {
h1 {
	padding: 20px 0px;
}
}
